#################
## Maven
#################
target/

#################
## Gradle
#################
build/
.gradle/
gradle/
gradlew.bat
gradlew
settings.gradle

#################
## Eclipse
#################

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
#*.launch

#################
## Others
#################
*.log
.*.html
Oracle
# For liquibase generated db doc
dbDoc
